



/*Main Body*/
.rectangle-2 {
  background-color: #FDFEFE;
  width: 100%;
  height: 705px;
}
.rectangle-3{
  min-width: 100%;
  min-height: 756px;
  margin: 0px;
  display: flex-box;
  padding: 10px;
  background-color: #fff;
  position: absolute;
  z-index: 1;
}


/*Top Backgroung Image*/
.hero {
  min-width: 100%;
  max-width: 100%;
  height: 742px;
  background-image: url("images/Bitmap.png");
  background-size: cover;
  background-repeat: no-repeat;
}


/*eha logo*/
.ehealth-logo {
  width: 152px;
  height: 44px;
  margin-left: 143px;
  margin-top: 23px;
}

/*top-text*/
.internship-programme{
  width:100%;
  text-align: right;
  border: 1px solid tomato;
  padding-right: 15px;
  color: #fff;
}

/*Oval Background color*/
/*.oval-4 {
  background-image: linear-gradient(179.39deg, #0294DA 0%, #734FAB 100%);
  border-radius: 100%;
  opacity: 0.9448596014492754;
  width: 1017px;
  height: 700px;
  margin-left: -300px;
  margin-right: 506px;
  margin-top: 50px;
   border-top-right-radius: 80%;
   border-bottom-right-radius: 150%;

}*/
.oval-4 {

  /*shape-outside: ellipse(100%, 50%);
  border-radius: 100%;
  background-image: linear-gradient(179.39deg, #0294DA 0%, #734FAB 100%);
  opacity: 0.9448596014492754;*/
  position:absolute;
  left:-54px;
  top:145px;
  width: 800px;
  height: 600px;
  z-index: 1;
}
#svg_1{
  fill:url(#MyGradient);
  width: 1.3rem;
  height: 1.3rem;
}

.my-brand{

}
.my-brand img{
  width: 152px;
  height: 44px;
  margin-top: 20px;
}
.top-nav{
  text-align: right;
  padding-top: 39px;
  padding-bottom: 15px;
  font-size: 16px;
  float: right;
}

.top-nav>a{
  margin-right: 30px;
  font-family: 'open sans' 'Roboto' tahoma;
  color: #fff;
  text-decoration: none;
}



.shadow {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
  .shadow:hover {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  }

.shadow-nohover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.box {
  background: #424242;
  border-radius: 0.3rem;
  height: 10rem;
  width: 10rem;
}

.card{
  background: #fff;
  border: 0px;
  border-radius: 0.3rem;
  width: 100%;
}

.card-header {
  background: #212121;
}
  .card-header:before {
    content: '';
    position: absolute;
    right: 100%;
    border: 1rem solid transparent;
    border-right: 1.25rem solid #212121;
  }

.tag {
  position: relative;
  padding: 12px 25px;
  border: solid #212121;
  border-width: 1px 1px 1px 0;
  border-radius: 0 12.5px 12.5px 0;
  background-image: linear-gradient(#212121,  #303030);
  box-shadow: 2px 2px 1px -1px rgba(0, 0, 0, 0.2), 2px 2px 1px -1px rgba(0, 0, 0, 0.14), 2px 2px 1px -1px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
  .tag:before {
    content: "";
    position: absolute;
    border: 1px solid #212121;
    border-radius: 15px 0 0 0;
    background-image: linear-gradient(#212121,  #303030);
    z-index: -1;
    top: 0;
    width: 50px;
    height: 50px;
    transform: translate(-51px, -1px) scale(0.70711, 0.70711) rotateZ(-45deg);
  }
  .tag:after {
    content: "";
    position: absolute;
    border: 1px solid #212121;
    border-radius: 50%;
    background:  #303030;
    top: 18px;
    left: -3px;
    width: 13px;
    height: 13px;
  }
  .tag:hover {
    box-shadow: 16px 12px 6px rgba(0, 0, 0, 0.2), 12px 8px 12px rgba(0, 0, 0, 0.14), 4px 4px 4px rgba(0, 0, 0, 0.12);
  }

  .media-body{
    font-size: 16px;
    font-weight: 400px;
    text-align: left;
    line-height: 19px;
    font-family: 'SFUIText-Regular' 'Roboto' tahoma;
    color: #48446F;
    width: 227px;
  }
  .mt-0{
    font-weight: 700px;
    font-size: 18px;
    line-height:22px;
    text-align: center;
    color:  #48446F;
    margin-left: 70px;
  }


.mt-0-1{
    font-weight: 700px;
    font-size: 18px;
    line-height:22px;
    text-align: default;
    color:  #48446F;
    margin-left: 15px;
  }




.callout{
  color: #fff;
  position: absolute;
  z-index: 4;
  top:280px;
  text-align: left;
  margin-left: 125px;
}


.thirdrow{
  text-align: center;
}


  .lorem-ipsum {
  color: #545E7E;
  font-family: DINNextLTPro;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  width: 632px;
  text-align: center;
  margin-left: 200px;
}


.ehealth-logo {
  width: 152px;
  height: 44px;
  margin-left: 7px;
}

.p{
  
  margin-right: 20px;
  margin-left: 20px;
}

#lorem-ipsum-is-simpl {
  color: #48446F;
  font-family: GalaxiePolaris;
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  text-align: center;
  padding-top: 20px;
}


.rectangle-4 {
  background-color: #734FAB;
  border-radius: 23.5px;
  box-shadow: 4px 7px 5px 3px rgba(115, 79, 171, 0.15000000596046448);
  width: 351px;
  height: 47px;
}


.hear-the-things-peop {
  color: #48446F;
  font-family: GalaxiePolaris;
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  text-align: center;
}


.lantome-234 {
  color: #313198;
  font-family: DINNextLTPro;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}


.took-a-loan {
  color: #313198;
  font-family: DINNextLTPro;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 24px;
  opacity: 0.6013926630434783;
  text-align: center;
}

.bottom{
  text-align: left;
  margin-left: 2px;
}


.dropdown{
        position: relative;
        display: inline-block;
    }
    .dropdown::before{
        position: absolute;
        content: " \2193";
        top: 0px;
        right: -8px;
        height: 20px;
        width: 20px;
    }

    .icon-bottom{
      width: 15px;
      height: 15px;
    }

    #linkedin{
      margin-left: 20px;

    }



    #istagram{
      margin-left: 20px;

    }


  #individuals {
  color: #734FAB;
  font-family: DINNextLTPro;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  margin-top: 40px;
  text-decoration: none;
  margin-left: -30px;
}

#companies {
  color: #313198;
  font-family: DINNextLTPro;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  opacity: 0.4888473731884058;
  text-align: center;
   text-decoration: none;
}

.line-copy {
  border: 1px solid #9696CC;
  width: 295px;
  height: 3px;
}



#lorem-ipsum-is-simple {
  color: #48446F;
  font-family: GalaxiePolaris;
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  text-align: center;
}


#lorem-ipsum-is-simple1 {
  color: #48446F;
  font-family: GalaxiePolaris;
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  text-align: center;
  margin-top: 20px;
}


.line {
  border: 2px solid #734FAB;
  width: 160px;
  height: 1px;
  margin-left: 350px;
}



.line2 {
  border: 0.5px solid #734FAB;
  width: 160px;
  height: 1px;
  margin-left: 350px;
}




.companies {
  color: #313198;
  font-family: DINNextLTPro;
  font-size: 18px;
  width: 160px;
  opacity: 0.4888473731884058;
  text-align: center;
  text-decoration:none;
}


.tempus-viverra-turpi {
  color: #48446F;
  font-family: SFUIText;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  width: 227px;
  text-align: left;
}



#lorem-ipsum-dolor-si {
  color: #909BAA;
  font-family: DINNextLTPro;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 282.96px;
  text-align: center;
}



.instant-approval-k {
  color: #909BAA;
  font-family: DINNextLTPro;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  width: 200px;
  text-align: center;
}

#lorem-ipsum-is-simpl {
  color: #4A4A4A;
  font-family: DINNextLTPro;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.4588428442028986;
  width: 308px;
  text-align: left;
  margin-left: 30px;
}



#rectangle {
  border: 2px solid #FFFFFF;
  border-radius: 100px;
  width: 100px;
  height: 40px;
  color: #fff;

   font-family: 'Galaxie Polaris';
    src: url('GalaxiePolaris-Bold.woff2') format('woff2'),
        url('GalaxiePolaris-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


/* This stylesheet generated by Transfonter (https://transfonter.org) on March 6, 2018 12:20 PM */

#font-face-normal {
    font-family: 'Galaxie Polaris Book';
    src: url('GalaxiePolaris-Book.woff2') format('woff2'),
        url('GalaxiePolaris-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#font-face-bold {
    font-family: 'Galaxie Polaris';
    src: url('GalaxiePolaris-Bold.woff2') format('woff2'),
        url('GalaxiePolaris-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

.font-face-bold{
  margin-top: 15px;
}

@font-face {
    font-family: 'Galaxie Polaris';
    src: url('GalaxiePolaris-Light.woff2') format('woff2'),
        url('GalaxiePolaris-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


.topspace{
  margin-top: 15px;
}


.individual2{
  margin-left: 60px;
}